services:
  database:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_DB: $DB_NAME
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_USER: $DB_USER
    ports:
      - $DB_PORT:5432
    volumes:
      - ./db/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $DB_USER -d $DB_NAME']
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - local

networks:
  local:
    name: local
