# fly.toml app configuration file generated for auth-microsservice-withered-darkness-1397 on 2025-12-17T02:40:40-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'auth-microsservice-withered-darkness-1397'
primary_region = "gru"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"

[processes]
  app = "npm run start:prod"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "512mb"

